.pokemon {
  width: 75%;
  aspect-ratio: 1;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
