*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  --primary-color: #669bbc;
  --ascent-color: #003049;
}

.sidebar {
  background: var(--ascent-color);
} */

.smallWidth {
  width: calc(100% - 32rem);
}

@media screen and (max-width: 640px) {
  .smallWidth {
    width: 100%;
  }
}

.roundedDiv > *:first-child > * {
  border-top-left-radius: var(--rounded-btn, 0.5rem);
  border-top-right-radius: var(--rounded-btn, 0.5rem);
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.roundedDiv > *:last-child > * {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: var(--rounded-btn, 0.5rem);
  border-bottom-right-radius: var(--rounded-btn, 0.5rem);
}

.roundedDiv > *:not(*:last-child):not(:first-child) > * {
  border-radius: 0%;
}

.roundedDiv input:checked ~ label::before {
  content: "\F633";
  position: absolute;
  right: 10px;
  font-weight: bold !important;
  font-size: larger;
}

.black {
  filter: brightness(0%);
}

.pokemon {
  width: 96px;
  aspect-ratio: 5/6;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Marquee */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 20s linear infinite;
}

.marquee__content.reverse {
  animation: scroll 20s linear infinite reverse;
}

.marquee__item {
  aspect-ratio: 1;
  width: 75px;
}

.marquee__item img {
  width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
